#
# Aliases for core functinality

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ....="cd ../.."
alias ......="cd ../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# mkdir and cd into it
mkcd () {
  mkdir -p "$*"
  cd "$*"
}

# Enable colourful ls
eval $(dircolors -b /etc/DIR_COLORS)
colorflag="--color=always"
alias ls="ls ${colorflag}"

# List all files, colorized, in long format, including dot files
alias l="ls ${colorflag}"
alias ll="ls -l ${colorflag}"
alias la="ls -la ${colorflag}"

# Enable aliases to be sudo’ed
alias sudo='sudo '

#
# Misc aliases

# Save on typing git all the time
alias g="git"

# Run git commands with `gr @all`
alias grall="gr @all"

# Run AWS CodePipeline by name
alias codepipeline="aws codepipeline start-pipeline-execution --name"

# Gzip-enabled `curl`
alias gurl='curl --compressed'

# Get week number
alias week='date +%V'

# IP addresses utils
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'
